* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #002b80;
}
.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 15px 1px;
}
.score {
    text-align: right;
    color: red;
}
.btn-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    margin: 30px 0;
}
.btn {
    border-color:  4d88ff;
    background-color: #4d88ff;
    border-radius: 5px;
    padding: 10px 0 ;
    color: #fff;
    outline: none;
    cursor: pointer;
}
.btn:hover {
    border-color:  #333333;
}

.btn.correct {
    background-color: #33cc33;
    color: #333333;
}
.btn.incorrect {
    background-color: red;
}
.start-btn, .next-btn,.restart-btn {
    font-size: 1.5rem;
    padding: 15px 30px;
}
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide {
    display: none;
}
